
<br>

<div class="container">

    <div class="block">
        <div class="row">
          <div class="span4">
            <img class="img-left" src="assets/rsz_fabiola.jpg"/>
            <div class="content-heading"><h3>Sobre mí </h3></div>
            <p class="lead">

                <b>Fabiola</b> es estudiante de octavo semestre
                 en la Licenciatura de Ingeniería en Desarrollo de Software.
             Actualmente trabaja en proyectos para diversos clientes donde se especializa en desarrollo 
                  back-end y aplicaciones móviles.
               
                  Estudia violín en la Facultad de Música de la UANL
                  y forma parte de la Sinfonietta FAMUS. Cuenta con una agencia de música para eventos sociales junto a su familia.
                </p>
          </div>
       </div>

</div>

    